<div class="cart-container" xmlns:th="http://www.thymeleaf.org" th:fragment="cart">
    <table class="cart-table">
        <tr>
            <th class="header-product">Product</th>
            <th class="header-price">Price</th>
            <th class="header-quantity">Quantity</th>
            <th class="header-fee">Shipping Fee</th>
            <th class="header-total">Total</th>
            <th class="header-remove">Remove</th>
        </tr>
        <tr th:each="item : ${cartItems}">
            <td class="value-product" th:text="${item.name}">Product Name</td>
            <td class="value-price" th:text="'₱' + ${item.price}">0.00</td>
            <td class="value-quantity" th:text="${item.quantity}">0</td>
            <td class="value-fee" th:text="${item.shippingFee}">0.00</td>
            <td class="value-total" th:text="'₱' + ${item.total}">₱ 0.00</td>
            <td class="value-remove">
                <button class="remove-from-cart-btn"
                        th:attr="data-index=${item['index']}, data-category=${item['category']}">
                    X
                </button>
            </td>

        </tr>
    </table>

    <div class="calculation-container">
        <table class="calculation-table">
            <tbody>
            <tr>
                <td class="calculation-key">Subtotal:</td>
                <td class="calculation-value" th:text="'PHP ' + ${subtotal}">PHP 0.00</td>
            </tr>
            <tr>
                <td class="calculation-key">Tax (<span th:text="${tax}">0</span>%):</td>
                <td class="calculation-value" th:text="'PHP ' + ${taxAmount}">PHP 0.00</td>
            </tr>
            <tr class="calculation-total">
                <td class="calculation-key">Total:</td>
                <td class="calculation-value" th:text="'PHP ' + ${total}">PHP 0.00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/checkout"><div class="table-checkout"><span>CHECKOUT</span></div></a>
</div>