<div class="catalog-container" xmlns:th="http://www.thymeleaf.org" th:fragment="catalog">
    <div class="controls">
        <label for="sort">SORT BY : </label>
        <select id="sort" name="sort">
            <option value="low">PRICE : LOW - HIGH</option>
            <option value="high">PRICE : HIGH - LOW</option>
        </select>
        <img th:src="@{/images/chevron-down.svg}" alt="">
    </div>

    <div class="item-row">
        <a th:href="@{/product/0-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/0.png'}">
                <button class="add-to-cart" data-index="0">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/1-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/1.png'}">
                <button class="add-to-cart" data-index="1">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/2-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/2.png'}">
                <button class="add-to-cart" data-index="2">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/3-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/3.png'}">
                <button class="add-to-cart" data-index="3">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/4-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/4.png'}">
                <button class="add-to-cart" data-index="4">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/5-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/5.png'}">
                <button class="add-to-cart" data-index="5">Add to cart</button>
            </div>
        </a>
    </div>
    <div class="item-row">
        <a th:href="@{/product/6-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/6.png'}">
                <button class="add-to-cart" data-index="6">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/7-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/7.png'}">
                <button class="add-to-cart" data-index="7">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/8-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/8.png'}">
                <button class="add-to-cart" data-index="8">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/9-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/9.png'}">
                <button class="add-to-cart" data-index="9">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/10-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/10.png'}">
                <button class="add-to-cart" data-index="10">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/11-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/11.png'}">
                <button class="add-to-cart" data-index="11">Add to cart</button>
            </div>
        </a>
    </div>
    <div class="item-row">
        <a th:href="@{/product/12-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/12.png'}">
                <button class="add-to-cart" data-index="12">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/13-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/13.png'}">
                <button class="add-to-cart" data-index="13">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/14-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/14.png'}">
                <button class="add-to-cart" data-index="14">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/15-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/15.png'}">
                <button class="add-to-cart" data-index="15">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/16-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/16.png'}">
                <button class="add-to-cart" data-index="16">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/17-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/17.png'}">
                <button class="add-to-cart" data-index="17">Add to cart</button>
            </div>
        </a>
    </div>
    <div class="item-row">
        <a th:href="@{/product/18-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/18.png'}">
                <button class="add-to-cart" data-index="18">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/19-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/19.png'}">
                <button class="add-to-cart" data-index="19">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/20-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/20.png'}">
                <button class="add-to-cart" data-index="20">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/21-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/21.png'}">
                <button class="add-to-cart" data-index="21">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/22-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/22.png'}">
                <button class="add-to-cart" data-index="22">Add to cart</button>
            </div>
        </a>
        <a th:href="@{/product/23-{type}(type=${type})}">
            <div class="items">
                <img th:src="@{'/images/' + ${category} + '/23.png'}">
                <button class="add-to-cart" data-index="23">Add to cart</button>
            </div>
        </a>
    </div>
</div>>